.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;
}

.progress-label {
  float: left;
  margin-right: 1em;
}

.fas {
  font-size: 50px;
}