.content {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/9621/a4011e77-0e25-416f-ab13-d3840a5664e3_kssoov.jpg");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.about-title{
  font-family: 'Josefin Sans', sans-serif;
}
.progress-label {
  float: left;
  margin-right: 1em;
}

.fas {
  font-size: 50px;
}