.experience{
  background-color: #eeeeee;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5em 0;
}
.experience-container{
  display: grid;
  column-count: 2;
  grid-template-columns:repeat(2, 1fr);
}
.autodata-logo{
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  transition: all .4s ease-in-out;
}

.autodata-logo:hover{
  background:#53a7ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* mixin for multiline */
.description {
  overflow: hidden;
  position: relative;
  line-height: 1em;
  max-height: 3em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.western-logo{
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  padding: 5px;
  transition: all .4s ease-in-out;
}

.western-logo:hover{
  background:#53a7ea;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
