.card-img {
    max-height: 700px;
    max-width: auto;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.project-grid{
    display: grid;
    column-count: 2;
    grid-template-columns:repeat(2, 1fr);
}
.shopping-cart-title {
    text-align: center;

}

.card-img:hover {
    opacity: .5;
}