@media only screen and (min-width: 800px){
    .project {
        padding: 5em 10em;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .project-title {
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .card-img {
        max-height: 700px;
        max-width: auto;
        cursor: pointer;
        z-index: 1;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    
    .project-grid {
        display: grid;
        column-count: 2;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
        grid-row-gap: 2em;
    }
    
    .line {
        border: 1px solid black;
        width: 100%;
    }
    
    .card-info {
        padding-left: 15px;
        line-height: 1em;
        cursor: pointer;
        height: 100%;
        border-style: solid;
    }
    
    .card-info-title {
        margin-top: 10px;
        color: #007BFF;
    }
}
@media screen and (max-width: 800px){
    .project {
        padding-top: 5em;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .project-title {
        font-family: 'Josefin Sans', sans-serif;
    }
    

    .card-img {
        margin: 0.5em 0;
        max-height: 700px;
        max-width: auto;
        cursor: pointer;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .card-info {
        padding-left: 15px;
        line-height: 1em;
        cursor: pointer;
        height: 100%;
        border-style: solid;
    }
    .card-info-title {
        margin-top: 10px;
        color: #007BFF;
    }
        
    .line {
        border: 1px solid black;
        width: 100%;
    }
    
}